<app-sidebar></app-sidebar>

<div class="flex justify-center items-center h-screen">
  <div class="max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-lg">
    <div class="text-center mb-6">
      <h2 class="text-2xl font-bold text-gray-800">Gestión de Equipos de Trabajo</h2>
      <p class="text-gray-600">Complete el siguiente formulario para crear o actualizar un equipo de trabajo.</p>
    </div>

    <form [formGroup]="workTeamForm" (ngSubmit)="onSubmit()" class="grid gap-6">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

        <div class="flex flex-col">
          <label for="name" class="text-gray-700 font-bold mb-2">Nombre</label>
          <input id="name" formControlName="name" type="text" class="px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"/>
        </div>

        <div class="flex flex-col">
          <label for="description" class="text-gray-700 font-bold mb-2">Descripción</label>
          <input id="description" formControlName="description" type="text" class="px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"/>
        </div>

      </div>

      <div class="flex justify-center mt-4">
        <button type="submit" class="bg-gray-500 text-white py-2 px-4 rounded-lg hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500">
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
