<app-sidebar></app-sidebar>

<div class="fondo flex flex-col h-screen" style="background-size: cover; background-position: center;">
  <div class="flex justify-center items-center flex-grow">
    <div class="text-center p-6 bg-gray-900 bg-opacity-50 rounded-lg">
      <h1 class="text-4xl font-bold text-white mb-4">Bienvenido a Gestión de Tareas y Proyectos</h1>
      <p class="text-xl text-white">
        Mantén tus proyectos y tareas organizados y colabora con tu equipo de manera eficiente.
      </p>
      <a href="#features" class="button">Descubre más</a>
    </div>
  </div>
</div>

<div class="section">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <div class="card">
      <h2 class="text-2xl font-bold mb-4 text-gray-700">Gestión de Proyectos</h2>
      <p class="text-gray-700">Organiza y planifica tus proyectos de manera eficiente con nuestras herramientas avanzadas.</p>
    </div>
    <div class="card">
      <h2 class="text-2xl font-bold mb-4 text-gray-700">Colaboración en Equipo</h2>
      <p class="text-gray-700">Colabora con tu equipo en tiempo real y mantén a todos informados y en la misma página.</p>
    </div>
    <div class="card">
      <h2 class="text-2xl font-bold mb-4 text-gray-700">Seguimiento de Tareas</h2>
      <p class="text-gray-700">Haz un seguimiento detallado de las tareas y asegúrate de que todo se complete a tiempo.</p>
    </div>
  </div>
</div>
