<app-sidebar></app-sidebar>
<div class="flex justify-center items-center h-screen">
  <div class="max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-lg">
    <div class="text-center mb-6">
      <h2 class="text-2xl font-bold text-gray-800">Añadir una nueva Tarea</h2>
      <p class="text-gray-600">Complete el siguiente formulario para crear una nueva tarea.</p>
    </div>

    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="grid gap-6">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="flex flex-col">
          <label for="nombre" class="block text-gray-700 font-bold mb-2 md:mb-0">Nombre</label>
          <input id="nombre" formControlName="nombre" type="text" class="px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"/>
          <div *ngIf="taskForm.get('nombre')?.invalid && (taskForm.get('nombre')?.dirty || taskForm.get('nombre')?.touched)" class="text-red-500">
            <div *ngIf="taskForm.get('nombre')?.errors?.['required']">El nombre es obligatorio.</div>
          </div>
        </div>

        <div class="flex flex-col">
          <label for="descripcion" class="block text-gray-700 font-bold mb-2 md:mb-0">Descripción</label>
          <textarea id="descripcion" formControlName="descripcion" class="px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"></textarea>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="flex flex-col">
          <label for="fechaInicio" class="block text-gray-700 font-bold mb-2 md:mb-0">Fecha Inicio</label>
          <input id="fechaInicio" formControlName="fechaInicio" type="date" class="px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"/>
          <div *ngIf="taskForm.get('fechaInicio')?.invalid && (taskForm.get('fechaInicio')?.dirty || taskForm.get('fechaInicio')?.touched)" class="text-red-500">
            <div *ngIf="taskForm.get('fechaInicio')?.errors?.['required']">La fecha de inicio es obligatoria.</div>
          </div>
        </div>

        <div class="flex flex-col">
          <label for="fechaFin" class="block text-gray-700 font-bold mb-2 md:mb-0">Fecha Fin</label>
          <input id="fechaFin" formControlName="fechaFin" type="date" class="px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"/>
          <div *ngIf="taskForm.get('fechaFin')?.invalid && (taskForm.get('fechaFin')?.dirty || taskForm.get('fechaFin')?.touched)" class="text-red-500">
            <div *ngIf="taskForm.get('fechaFin')?.errors?.['required']">La fecha de fin es obligatoria.</div>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="flex flex-col">
          <label for="responsable" class="block text-gray-700 font-bold mb-2 md:mb-0">Responsable</label>
          <select id="responsable" formControlName="responsable" class="px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
            <option value="">Seleccione un responsable</option>
            <option *ngFor="let usuario of usuarios" [value]="usuario">{{ usuario }}</option>
          </select>
          <div *ngIf="taskForm.get('responsable')?.invalid && (taskForm.get('responsable')?.dirty || taskForm.get('responsable')?.touched)" class="text-red-500">
            <div *ngIf="taskForm.get('responsable')?.errors?.['required']">Debe seleccionar un responsable.</div>
          </div>
        </div>

        <div class="flex flex-col">
          <label for="estado" class="block text-gray-700 font-bold mb-2 md:mb-0">Estado</label>
          <select id="estado" formControlName="estado" class="px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
            <option value="">Seleccione un estado</option>
            <option value="Listo">Listo</option>
            <option value="En progreso">En progreso</option>
            <option value="Pendiente">Pendiente</option>
            <option value="Interrumpida">Interrumpida</option>
            <option value="Atrasada">Atrasada</option>
          </select>
          <div *ngIf="taskForm.get('estado')?.invalid && (taskForm.get('estado')?.dirty || taskForm.get('estado')?.touched)" class="text-red-500">
            <div *ngIf="taskForm.get('estado')?.errors?.['required']">Debe seleccionar un estado.</div>
          </div>
        </div>
      </div>

      <div class="flex justify-center">
        <button type="submit" class="bg-gray-500 text-white py-2 px-4 rounded-lg hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500" [disabled]="taskForm.invalid">
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
