<app-sidebar></app-sidebar>

<div class="flex justify-center items-center h-screen">
  <div class="max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-lg">
    <div class="text-center mb-6">
      <h2 class="text-2xl font-bold text-gray-800">Gestión de Usuarios</h2>
      <p class="text-gray-600">Complete el siguiente formulario para crear o actualizar un usuario.</p>
    </div>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="grid gap-6">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

      <div class="flex flex-col">
        <label for="cedula" class="text-gray-700 font-bold mb-2">Cédula</label>
        <input id="cedula" formControlName="cedula" type="text" class="px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"/>
        <div *ngIf="userForm.get('cedula')?.invalid && (userForm.get('cedula')?.dirty || userForm.get('cedula')?.touched)" class="text-red-500 mt-1">
          <span *ngIf="userForm.get('cedula')?.errors?.['required']">Ingrese la cédula</span>
          <span *ngIf="userForm.get('cedula')?.errors?.['pattern']">Cédula inválida</span>
        </div>
      </div>

      <div class="flex flex-col">
        <label for="name" class="text-gray-700 font-bold mb-2">Nombres</label>
        <input id="name" formControlName="name" type="text" class="px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"/>
        <div *ngIf="userForm.get('name')?.invalid && (userForm.get('name')?.dirty || userForm.get('name')?.touched)" class="text-red-500 mt-1">
          <span *ngIf="userForm.get('name')?.errors?.['required']">Ingrese los name</span>
          <span *ngIf="userForm.get('name')?.errors?.['pattern']">Nombres no pueden tener números ni caracteres especiales</span>
        </div>
      </div>

      <div class="flex flex-col">
        <label for="lastname" class="text-gray-700 font-bold mb-2">Apellidos</label>
        <input id="lastname" formControlName="lastname" type="text" class="px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"/>
        <div *ngIf="userForm.get('lastname')?.invalid && (userForm.get('lastname')?.dirty || userForm.get('lastname')?.touched)" class="text-red-500 mt-1">
          <span *ngIf="userForm.get('lastname')?.errors?.['required']">Ingrese los lastname</span>
          <span *ngIf="userForm.get('lastname')?.errors?.['pattern']">Apellidos no pueden tener números ni caracteres especiales</span>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="flex flex-col">
        <label for="phone" class="text-gray-700 font-bold mb-2">Teléfono</label>
        <input id="phone" formControlName="phone" type="tel" class="px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"/>
        <div *ngIf="userForm.get('phone')?.invalid && (userForm.get('phone')?.dirty || userForm.get('phone')?.touched)" class="text-red-500 mt-1">
          <span *ngIf="userForm.get('phone')?.errors?.['required']">Ingrese número un teléfono</span>
          <span *ngIf="userForm.get('phone')?.errors?.['pattern']">Teléfono inválido</span>
        </div>
      </div>

      <div class="flex flex-col">
        <label for="email" class="text-gray-700 font-bold mb-2">Email</label>
        <input id="email" formControlName="email" type="email" class="px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"/>
        <div *ngIf="userForm.get('email')?.invalid && (userForm.get('email')?.dirty || userForm.get('email')?.touched)" class="text-red-500 mt-1">
          <span *ngIf="userForm.get('email')?.errors?.['required']">Ingrese un correo electrónico</span>
          <span *ngIf="userForm.get('email')?.errors?.['email']">Email inválido</span>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="flex flex-col">
        <label for="idRol" class="text-gray-700 font-bold mb-2">Rol</label>
        <select id="idRol" formControlName="idRol" class="px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
          <option value=""> -- Seleccione un Rol -- </option>
          <option *ngFor="let rol of roles" [value]="rol.id">{{ rol.name }}</option>
        </select>
        <div *ngIf="userForm.get('idRol')?.invalid && (userForm.get('idRol')?.dirty || userForm.get('idRol')?.touched)" class="text-red-500 mt-1">
          <span *ngIf="userForm.get('idRol')?.errors?.['required']">Rol requerido</span>
        </div>
      </div>

      <div class="flex flex-col">
        <label for="state" class="text-gray-700 font-bold mb-2">Estado</label>
        <select id="state" formControlName="state" class="px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">
          <option value="">Seleccione un state</option>
          <option value="Activo">Activo</option>
          <option value="Inactivo">Inactivo</option>
        </select>
        <div *ngIf="userForm.get('state')?.invalid && (userForm.get('state')?.dirty || userForm.get('state')?.touched)" class="text-red-500 mt-1">
          <span *ngIf="userForm.get('state')?.errors?.['required']">Estado requerido</span>
        </div>
      </div>
    </div>

    <div class="flex justify-center mt-4">
      <button type="submit" class="bg-gray-500 text-white py-2 px-4 rounded-lg hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500">
        Guardar
      </button>
    </div>
  </form>
</div>
</div>
