<div class="sidebar close">
  <div class="logo-details">
    <i class='bx bx-menu' (click)="toggleSidebar()"></i>
    <!-- <i class='bx bxl-c-plus-plus'></i> -->
    <span class="logo_name">TaskMaster</span>
  </div>
  <ul class="nav-links">
    <li>
      <a routerLink="/home">
        <i class='bx bxs-home'></i>
        <span class="link_name">Inicio</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" routerLink="/home">Inicio</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a routerLink="/project-list">
          <i class='bx bx-collection'></i>
          <span class="link_name">Proyectos</span>
        </a>
        <i class='bx bxs-chevron-down arrow'></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" routerLink="/project-list">Proyectos</a></li>
        <li><a routerLink="/project-list">Lista de proyectos</a></li>
        <li><a routerLink="/project-form">Añadir proyectos</a></li>
      </ul>
    </li>
    <li>
      <a routerLink="/task-form">
        <i class='bx bx-task'></i>
        <span class="link_name">Tareas</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" routerLink="/task-form">Añadir Tareas</a></li>
      </ul>
    </li>
    <!-- <li>
      <div class="iocn-link">
        <a routerLink="/task-list">
          <i class='bx bx-task'></i>
          <span class="link_name">Tareas</span>
        </a>
        <i class='bx bxs-chevron-down arrow'></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" routerLink="/task-list">Tareas</a></li>
        <li><a routerLink="/task-list">Lista de tareas</a></li>
        <li><a routerLink="/task-form">Añadir tareas</a></li>
      </ul>
    </li> -->
    <li>
      <div class="iocn-link">
        <a routerLink="/user-list">
          <i class='bx bx-group'></i>
          <span class="link_name">Usuarios</span>
        </a>
        <i class='bx bxs-chevron-down arrow'></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" routerLink="/user-list">Usuarios</a></li>
        <li><a routerLink="/user-list">Lista de usuarios</a></li>
        <li><a routerLink="/user-form">Añadir usuarios</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a routerLink="/rol-list">
          <i class='bx bx-user'></i>
          <span class="link_name">Roles</span>
        </a>
        <i class='bx bxs-chevron-down arrow'></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" routerLink="/rol-list">Roles</a></li>
        <li><a routerLink="/rol-list">Lista de roles</a></li>
        <li><a routerLink="/rol-form">Añadir roles</a></li>
      </ul>
    </li>
    <li>
      <div class="profile-details">
        <div class="profile-content">
          <img src="https://cdn1.iconfinder.com/data/icons/user-pictures/101/malecostume-512.png" alt="profileImg">
        </div>
        <div class="name-job">
          <div class="profile_name">Jair Sánchez</div>
          <div class="job">Miembro</div>
        </div>
        <i class='bx bx-log-out'></i>
      </div>
    </li>
  </ul>
</div>
<!-- <section class="home-section">
  <div class="home-content">
    <i class='bx bx-menu' (click)="toggleSidebar()"></i>
  </div>
</section> -->
