@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}
.project-list {
  margin-top: 2rem; /* Margen superior */
}

.project-list table {
  width: 100%; /* Ancho completo de la tabla */
  border-collapse: collapse; /* Colapso de bordes de celda */
  background-color: #fff; /* Color de fondo de la tabla */
  border-radius: 4px; /* Borde redondeado */
  overflow: hidden; /* Ocultar el desbordamiento */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.project-list th, .project-list td {
  padding: 1rem; /* Relleno de celda */
  text-align: left; /* Alineación de texto a la izquierda */
}

.project-list th {
  background-color: #52c285; /* Color de fondo del encabezado de la tabla */
  color: #fff; /* Color del texto del encabezado de la tabla */
}

.project-list tbody tr {
  transition: background-color 0.2s ease-in-out; /* Transición suave de color de fondo */
}

.project-list tbody tr:hover {
  background-color: #f8f9fa; /* Color de fondo al pasar el mouse */
}

.project-list tbody td {
  border-top: 1px solid #dee2e6; /* Borde superior delgado entre filas */
}

.project-list .progress-bar {
  height: 20px; /* Altura de la barra de progreso */
  background-color: #e9ecef; /* Color de fondo de la barra de progreso */
  border-radius: 4px; /* Borde redondeado */
  overflow: hidden; /* Ocultar el desbordamiento */
}

.project-list .progress-bar .progress {
  height: 100%; /* Altura de la barra de progreso */
  background-color: #28a745; /* Color de fondo de la barra de progreso */
  transition: width 0.3s ease-in-out; /* Transición suave de ancho */
}

.project-list button {
  background-color: #268555; /* Color de fondo del botón */
  color: #fff; /* Color del texto del botón */
  border: none; /* Sin borde */
  padding: 0.5rem 1rem; /* Relleno del botón */
  border-radius: 4px; /* Borde redondeado */
  cursor: pointer; /* Cursor apuntador */
  transition: background-color 0.2s ease-in-out; /* Transición suave */
}

.project-list button:hover {
  background-color: #133d28; /* Color de fondo al pasar el mouse */
}

.project-list button + button {
  margin-left: 0.5rem; /* Margen izquierdo entre botones */
}
